body{
    background: rgb(230, 247, 206);
    margin: 0px 9% 0px 9%;
    opacity: 80%;
    color: rgb(63, 58, 87);
    

}

header{
    background-image: url(/Fenntarthato/ht3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    border: 2px solid black;
}

main{
    padding: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

aside{
    width: 50%; 
    margin: auto;
}

img{
    height: 20%;
}

footer{
    text-align: right;
    background-color: rgb(66, 168, 66);
    color: rgb(220, 240, 220);
    padding: 10px;
    font-size: 20px;
}
