body{
    background: rgb(230, 247, 206);
    margin: 0px 10% 0px 10%;
    opacity: 80%;
    color: rgb(63, 58, 87);
    border: 2px solid black;

}

main{
    

}

header{
    background-image: url(/Fenntarthato/ht3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
}